@import "compass/css3";

body {
  height:100vh;
  width:100vw;
  overflow:hidden;
  font-family: Helvetica; 
}

.donation-meter {
  margin-left: 30px;
  width: 100px;
  .glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 300px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    width: 20px;
  }
  .amount {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    width: 20px;
    position: absolute;
     bottom: 5px;
  }
  .goal {
    font-size: 30px;
  }
  .total {
    font-size: 16px;
    position: absolute;
    right: 35px;
  }
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 50px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
    top: -20px;
    right: 15px;
  width: 50px;
  .red-circle {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    height: 50px;
    width: 50px;
  }
  .filler {
    background: #f34e54;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
      top: -65px;
      right: -15px;
    z-index: 30;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rocket {
  --animate-delay: 1s;
  animation: rocket-launch 1.6s ease-out var(--animate-delay) 1 normal forwards;
  opacity: 0;
}

.burst > div {
  --animate-delay: 1.5s;
  animation: blast 750ms ease-in var(--animate-delay) 1 normal forwards;
  opacity: 0;
}

@keyframes rocket-launch {
  from {
      height: 9rem;
  }
  60%, to {
      height: 0rem;
      transform: translateY(0rem);
  }
  from, 60%, to {
      opacity: 1;
  }
  to {
      display: none;
  }
}

@keyframes blast {
  from {
      width: 0.5rem;
      opacity: 1;
  }
  60% {
      width: 100%;
      opacity: 1;
  }
  to {
      width: 100%;
      opacity: 0;
  }
}

body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 4em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
